
@{
    ViewBag.Title = "Info";
    Layout = "~/Views/Shared/_ErrorLayout.cshtml";
}

<h2>Info</h2>

<ul>
    <li>lecture1</li>
    <li>lecture2</li>
    <li>lecture3</li>
    <li>lecture4</li>
</ul>
